<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

    <!--=============== REMIXICON ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>Responsive gym website - Bedimcode</title>
</head>

<body>
    <!--==================== HEADER ====================-->
    {% include 'header.html' %}
        <!--==================== PROGRAM ====================-->
        <section class="program section" id="program">
            <div class="container">
                <div class="section__data">
                    <h2 class="section__subtitle">Our Program</h2>
                    <div class="section__titles">
                        <h1 class="section__title-border">BUILD YOUR</h1>
                        <h1 class="section__title">BEST BODY</h1>
                    </div>
                </div>

                <div class="program__container grid">
                    <article class="program__card">
                        <div class="program__shape">
                            <img src="{% static 'img/program4.png' %}" alt="program image" class="program__img">
                            
                        </div>

                        <h3 class="program__title">Hypertrophy</h3>

                        <p class="program__description">
                            Creating tension that's temporarily making the muscle
                            fibers smaller or contracted.
                        </p>

                        <a href="{% url 'hypertrophypage' %}" class="program__button">
                            <i class="ri-arrow-right-line"></i>
                        </a>
                    </article>

                    <article class="program__card">
                        <div class="program__shape">
                            <img src="{% static 'img/program2.png ' %}" alt="program image" class="program__img">
                        </div>

                        <h3 class="program__title">Cardio Exercise</h3>

                        <p class="program__description">
                            Exercise your heart rate up and keeps it
                            up for a prolonged period of time.
                        </p>
                        
                        <a href="{% url 'cardiopage' %}" class="program__button">
                            <i class="ri-arrow-right-line"></i>
                        </a>
                       
                    </article>

                    <article class="program__card">
                        <div class="program__shape">
                            <img src="{% static 'img/program3.png ' %}" alt="program image" class="program__img">
                        </div>

                        <h3 class="program__title">Basic Yoga</h3>

                        <p class="program__description">
                            Diaphragmatic this is the most common breathing
                            technique you'll find in yoga.
                        </p>

                        <a href="{% url 'yogapage' %}" class="program__button">
                            <i class="ri-arrow-right-line"></i>
                        </a>
                    </article>

                   <article class="program__card">
                        <div class="program__shape">
                            <img src="{% static 'img/program1.png ' %}" alt="program image" class="program__img">
                        </div>

                        <h3 class="program__title">Strength Training</h3>

                        <p class="program__description">
                            Attempts a maximum weight single lift of a
                            barbell loaded with weight plates.
                        </p>

                        <a href="{% url 'strengthpage' %}" class="program__button">
                            <i class="ri-arrow-right-line"></i>
                        </a>
                    </article>
                
                </div>
            </div>
        </section>